@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --max-width: 1500px;
  --border-radius: 16px;
  --body-color: #101828;
  --primary-text-color: #ffffff;
  --link-hover-color: #ffffffb2;
  --box-shadow: 6px 6px 10px #090e17, -6px -6px 10px #17233b;
  --inset-box-shadow: inset 6px 6px 10px #090e17, inset -6px -6px 10px #17233b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  color: var(--primary-text-color);
  background-color: var(--body-color);
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s all ease;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.section-center {
  max-width: var(--max-width);
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .section-center {
    width: 95%;
  }
}
.section-center h2 {
  font-weight: 400;
  letter-spacing: 2px;
}
.btn {
  outline: none;
  border: none;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  text-align: center;

  border-radius: var(--border-radius);
  transition: 0.3s all ease;
  border: 1px solid var(--body-color);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  background-color: transparent;
}
.btn:hover {
  box-shadow: var(--inset-box-shadow);
  color: var(--link-hover-color);
}
img {
  width: 100%;

  object-fit: cover;
  border-radius: var(--border-radius);
}
a:hover {
  color: var(--link-hover-color);
}

.subscribe-page {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 9.5rem);
}
